<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56129378770-3c5csg9vgna922k5r8dhe69kt2clroe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56129378770-3c5csg9vgna922k5r8dhe69kt2clroe1</string>
	<key>API_KEY</key>
	<string>AIzaSyC8QJITgClFUBTT760rKAVMQFV328fHly4</string>
	<key>GCM_SENDER_ID</key>
	<string>56129378770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegisterUi</string>
	<key>PROJECT_ID</key>
	<string>forgot-password-app-584a1</string>
	<key>STORAGE_BUCKET</key>
	<string>forgot-password-app-584a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56129378770:ios:9b2fa15d3f5103efa2d00b</string>
</dict>
</plist>